{% extends "layout.njk" %}

{% block content %}
  <div class="container-not-found">
    <h1>404...</h1>
    <h2>Repito, 404. Câmbio!</h2>

    <span id="answer">Estação responde:</span>
    <p>
      <span>Acho que você chegou ao limite do universo.</span></br>
      <span>A página que você requisitou não foi encontrada.</span></br>
    </p>
  </div>
{% endblock %}